.fv500 {
  height: 500px;
}

.bglight {
  background-color: #f8f8f8;
}

.tttt {
  max-height: 100%; /* Constrain height */
  width: 70px; /* Ensure it scales up to the maximum width */
  height: auto; /* Maintain aspect ratio */
  -o-object-fit: contain;
     object-fit: contain; /* Preserve aspect ratio, and ensure the image fits inside the container */
}

.head_section {
  height: 200px;
  background-color: #2a344e;
}
.head_section .header_txt {
  font-size: 64px;
  color: #ffc500;
  font-weight: 900;
}

.section {
  height: auto;
}

.bigtxt {
  color: #ffc500;
}

.smltxt {
  color: #2a344e;
}

.cta2_wrp {
  padding: 30px 50px;
}
.cta2_wrp .head_header {
  font-size: 64px;
  font-weight: 900;
  text-align: center;
}
.cta2_wrp .ctap {
  color: #874d0a;
  text-align: center;
}

.head_and_desc {
  align-items: center;
}
.head_and_desc .head_header {
  font-size: 64px;
  color: #ffc500;
  font-weight: 900;
  margin-top: -30px;
}
.head_and_desc .desc_descript {
  font-size: 24px;
  color: #2a344e;
}

.scp {
  margin-bottom: 30px;
}

.nds_btn {
  background-color: #2a344e;
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.nds_btn:hover {
  background-color: #252d44;
}
.nds_btn:hover i {
  color: black;
}
.nds_btn i {
  font-size: 24px;
  color: white;
}

.nds_outline_btn {
  background-color: none;
  border: 3px solid #2a344e;
  border-radius: 20px;
  height: 35px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a344e;
}
.nds_outline_btn:hover {
  background-color: #252d44;
}
.nds_outline_btn:hover i {
  color: black;
}
.nds_outline_btn i {
  font-size: 24px;
  color: white;
}

.contact_width {
  width: 478px;
  margin: auto;
}

.contact_form_wrp input.form-control {
  border-radius: 0;
  height: 40px;
  border: none;
  border-bottom: 3px solid #ffc500;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}
.contact_form_wrp textarea.form-control {
  border-radius: 0;
  height: 80px;
  border: none;
  border-bottom: 3px solid #ffc500;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.coursecard {
  width: 250px;
  height: 100px;
}
.coursecard .Bigtitle {
  height: 33%;
}
.coursecard .smallTitle {
  height: 30%;
}
.coursecard .durationTitle {
  height: 30%;
}
.coursecard .bdrleft {
  border-left: 5px solid #ffc500;
  margin-left: -5px;
  height: 90%;
}
.coursecard .imgsq {
  border-radius: 5px;
  height: 100%;
  width: 100px;
  background-color: #2a344e;
}

.navbar {
  padding: 0;
  height: 100px;
}
.navbar .navbar-brand {
  padding: 0;
}
.navbar .navbar-brand figure {
  padding: 0;
  margin: 0;
}
.navbar .navbar-brand figure img {
  width: 50px;
}
.navbar .nav-item {
  position: relative;
}
.navbar .nav-item.active {
  background-color: #ffc500;
}
.navbar .nav-item.active a {
  color: #fff;
  font-weight: bold;
}
.navbar .nav-item .nav-link {
  position: relative;
  padding: 10px 15px;
  transition: all 0.3s ease;
}
.navbar .nav-item .nav-link:hover {
  color: #ffc500;
}
.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.navbar .nav-item.dropdown .dropdown-menu {
  display: block;
  bottom: -50px;
  position: absolute;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.navbar .nav-item.dropdown .dropdown-menu a {
  color: black;
  padding: 10px 20px;
  transition: background 0.3s ease;
}
.navbar .nav-item.dropdown .dropdown-menu a:hover {
  background: #f8f9fa;
}

.imgbox .imgbox_p {
  color: #2a344e !important;
}

.bgprimary {
  background-color: #ffc500;
}

.bgsecondary {
  background-color: #2a344e;
}

.videobox {
  height: 250px;
  width: 450px;
  background-color: #f8f8f8;
}

.secsmall {
  height: auto;
}

.ctarel {
  height: 200px;
  position: relative;
}
.ctarel .ctatxtspc {
  font-size: 24px;
  position: absolute;
  top: 200px;
}

.email-form {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}
.email-form .email-input {
  flex: 1;
  border: none;
  padding: 15px;
  font-size: 18px;
}
.email-form .email-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.email-form .email-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.email-form .submit-btn {
  background-color: #f4c03f;
  border: none;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.email-form .submit-btn:hover {
  background-color: #e0a92f;
}

.ctaspecialhead {
  font-size: 64px;
  font-weight: bold;
}

.ctaspecial {
  font-size: 340px;
  font-weight: bold;
  line-height: 300px;
  opacity: 0.2;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0;
    margin: 0;
    height: 80px;
  }
  .navbar .navbar-brand {
    padding: 0;
    height: 100%;
  }
  .navbar .navbar-brand figure {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  .navbar .navbar-brand figure img {
    height: 85%;
    width: auto;
  }
  .navbar #navbarNavDropdown {
    height: 100%;
  }
  .navbar #navbarNavDropdown #menu-navbar {
    height: 100%;
    display: flex;
    /* Flexbox container */
    justify-content: center;
    /* Center the items horizontally */
    align-items: center;
    /* Center the items vertically */
  }
  .navbar #navbarNavDropdown .nav-item {
    position: relative;
    height: 100%;
    display: flex;
    /* Flexbox container */
    justify-content: center;
    /* Center the items horizontally */
    align-items: center;
    /* Center the items vertically */
  }
  .navbar #navbarNavDropdown .nav-item.active {
    background-color: #ffc500;
  }
  .navbar #navbarNavDropdown .nav-item.active a {
    color: #fff;
    font-weight: bold;
  }
  .navbar #navbarNavDropdown .nav-item .nav-link {
    position: relative;
    padding: 10px 15px;
    transition: all 0.3s ease;
  }
  .navbar #navbarNavDropdown .nav-item .nav-link:hover {
    color: #ffc500;
  }
  .navbar #navbarNavDropdown .nav-item.dropdown:hover .dropdown-menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .navbar #navbarNavDropdown .nav-item.dropdown .dropdown-menu {
    display: flex;
    opacity: 0;
    bottom: -50px;
    visibility: hidden;
    position: absolute;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .navbar #navbarNavDropdown .nav-item.dropdown .dropdown-menu a {
    color: black;
    padding: 10px 20px;
    transition: background 0.3s ease;
    font-size: 12px;
  }
  .navbar #navbarNavDropdown .nav-item.dropdown .dropdown-menu a:hover {
    background: #f8f9fa;
  }
  .secsmall {
    height: 400px;
  }
  .ctaspecialhead {
    position: absolute;
    top: 100px;
  }
  #landsideimg {
    background-image: url("../img/bg/bg1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }
  #sideright {
    background-image: url("../img/bg/bg2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .sec {
    min-height: 350px;
    padding: 40px 50px;
  }
  .sec#about_sec {
    height: 550px !important;
  }
}
.about-logo {
  width: 50px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.circles {
  height: 100px;
  width: 100px;
  background-color: #ffc500;
  border-radius: 100px;
}

.team_wrp {
  border: 1px;
  width: 200px;
}
.team_wrp .circleprofile {
  height: 100px;
  width: 100px;
  background-color: #ffc500;
  border-radius: 100px;
  overflow: hidden;
}
.team_wrp .circleprofile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* or "contain" */
}
.team_wrp .empname {
  font-size: 24px;
  color: #2a344e;
}
.team_wrp .jobtitle {
  font-size: 20px;
  color: #969696;
}

.recipe_card .card-body {
  border-left: 5px solid #ffc500;
}

.shutup,
.pathlink {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=styles.css.map */