@import './scss/variables';


.hlophe {
    .wpcf7-submit {
        width: 100%;
        background-color: $primary_color !important; /* Tailwind's bg-blue-600 */
        color: white;
        font-weight: 600;
        padding: 10px;
        padding: 5px 45px !important;
        border-radius: 20px !important;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}

.thando {
    .wpcf7-submit {
        width: 100%;
        height: $inputheight;
        background-color:$secondary_color !important; /* Tailwind's bg-blue-600 */
        color: white;
        font-weight: 600;
        padding: 10px;
        padding: 5px 45px !important;
        border-radius: 0 20px 20px 0 !important;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}

.wpcf7-submit:hover {
    background-color: #1e40af; /* Tailwind's bg-blue-700 */
}

.bglight {
    background-color: $grey;
}
.tttt {
    max-height: 100%; /* Constrain height */
    width: 70px; /* Ensure it scales up to the maximum width */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Preserve aspect ratio, and ensure the image fits inside the container */
}
.head_section {
    height: 200px;
    background-color: $primary_color;
    .header_txt {
        color:$secondary_color;
        font-weight: 900;
    }
}
.secolor {
    color: $third_color;
}
.section {
    height: auto;
}

.bigtxt {
    color:$secondary_color;
}

.smltxt {
    color: $primary_color;
}
.cta2_wrp {
    padding: 30px 50px;
    .head_header {
        font-size: $bossTxt;
        font-weight: 900;
        text-align: center;
    }
    .ctap {
        color: #874d0a;
        text-align: center;
    }
}
.head_and_desc {
    align-items: center;

    p {
        color: $primary_color;
    }

    .head_header {
        font-size: $bossTxt;
        color:$secondary_color;
        font-weight: 900;
        margin-top: -30px;
    }
}

.scp {
    margin-bottom: 30px;
}

.nds_btn {
    background-color: $primary_color;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &:hover {
        background-color: darken($color: $primary_color, $amount: 3);

        i {
            color: black;
        }
    }
    i {
        font-size: 24px;
        color: white;
    }
}

.nds_outline_btn {
    background-color: none;
    border: 3px solid $primary_color;
    border-radius: 20px;
    height: 35px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary_color;

    &:hover {
        background-color: darken($color: $primary_color, $amount: 3);
        color: white;
        i {
            color: black;
        }
    }
    i {
        font-size: 24px;
        color: white;
    }
}

.contact_width {
    width: 478px;
    margin: auto;
}
.contact_form_foot {
    input.form-control {
        border-radius: 0;
        height: $inputheight !important;
        border: none;
        border-bottom: 3px solid$secondary_color;
        margin-bottom: 20px;
        background-color: #f8f8f8;
        width: 100%;
    }
}

.contact_form_wrp {
    input.form-control {
        border-radius: 0;
        height: $inputheight !important;
        border: none;
        border-bottom: 3px solid $primary_color;
        margin-bottom: 20px;
        background-color: #f8f8f8;
        width: 100%;
    }

    textarea.form-control {
        border-radius: 0;
        height: 80px;
        border: none;
        border-bottom: 3px solid $primary_color;
        margin-bottom: 20px;
        background-color: #f8f8f8;
    }
}
.wpcf7-form-control-wrap {
    width: 100% !important;
}

.coursecard {
    width: 250px;
    height: 100px;

    .Bigtitle {
        height: 33%;
    }

    .smallTitle {
        height: 30%;
    }

    .durationTitle {
        height: 30%;
    }

    .bdrleft {
        border-left: 5px solid$secondary_color;
        margin-left: -5px;
        height: 90%;
    }

    .imgsq {
        border-radius: 5px;
        height: 100%;
        width: 100px;
        background-color: $primary_color;
    }
}

.navbar {
    padding: 0;
    height: 100px;

    .navbar-brand {
        padding: 0;

        figure {
            padding: 0;
            margin: 0;

            img {
                width: 50px !important;
            }
        }
    }

    .nav-item {
        position: relative; // Ensure proper positioning for dropdown

        &.active {
            background-color:$secondary_color;

            a {
                color: #fff;
                font-weight: bold;
            }
        }

        .nav-link {
            position: relative;
            padding: 10px 15px;
            transition: all 0.3s ease;

            &:hover {
                color:$secondary_color; // Change color on hover
            }
        }

        &.dropdown {
            &:hover {
                .dropdown-menu {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }

            .dropdown-menu {
                display: block;
                //opacity: 0;
                bottom: -50px;
                //visibility: hidden;
                position: absolute;
                background: white;
                border-radius: 10px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                min-width: 250px;
                transform: translateY(10px);
                transition:
                    opacity 0.3s ease,
                    transform 0.3s ease;

                a {
                    color: black;
                    padding: 10px 20px;
                    transition: background 0.3s ease;

                    &:hover {
                        background: #f8f9fa;
                    }
                }
            }
        }
    }
}

.imgbox {
    .imgbox_p {
        color: $primary_color !important;
    }
}
.bgprimary {
    background-color:$secondary_color;
}
.bgsecondary {
    background-color: $primary_color;
}
.videobox {
    background-color: $grey;
}
.secsmall {
    height: auto;
}
.ctarel {
    height: 200px;
    position: relative;
    
    .ctatxtspc {
        font-size: 24px;
        position: absolute;
        top: 150px;
    }
}
$email-bg: #f4c03f;
$email-hover-bg: #e0a92f;
$email-placeholder: rgba(0, 0, 0, 0.3);

.email-form {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;

    .email-input {
        flex: 1;
        border: none;
        padding: 15px;
        font-size: 18px;

        &::placeholder {
            color: $email-placeholder;
        }
    }

    .submit-btn {
        background-color: $email-bg;
        border: none;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $email-hover-bg;
        }
    }
}
.ctaspecialhead {
    font-weight: bold;
}
.ctaspecial {
    font-size: 250px;
    font-weight: bold;
    line-height: 300px;
    opacity: 0.2;
}

@media screen and (min-width: 768px) {
    .navbar {
        padding: 0;
        margin: 0;
        height: 80px;

        .navbar-brand {
            padding: 0;
            height: 100%;

            figure {
                padding: 0;
                margin: 0;
                height: 100%;

                img {
                    height: 85%;
                    width: auto;
                }
            }
        }

        #navbarNavDropdown {
            height: 100%;

            #menu-navbar {
                height: 100%;
                display: flex;
                /* Flexbox container */
                justify-content: center;
                /* Center the items horizontally */
                align-items: center;
                /* Center the items vertically */
            }

            .nav-item {
                position: relative; // Ensure proper positioning for dropdown
                height: 100%;
                display: flex;
                /* Flexbox container */
                justify-content: center;
                /* Center the items horizontally */
                align-items: center;

                /* Center the items vertically */
                &.active {
                    background-color:$secondary_color;

                    a {
                        color: #fff;
                        font-weight: bold;
                    }
                }

                .nav-link {
                    position: relative;
                    padding: 10px 15px;
                    transition: all 0.3s ease;

                    &:hover {
                        color:$secondary_color; // Change color on hover
                    }
                }

                &.dropdown {
                    &:hover {
                        .dropdown-menu {
                            display: flex;
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                        }
                    }

                    .dropdown-menu {
                        display: flex;
                        opacity: 0;
                        bottom: -50px;
                        visibility: hidden;
                        position: absolute;
                        background: white;
                        border-radius: 10px;
                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                        min-width: 250px;
                        transform: translateY(10px);
                        transition:
                            opacity 0.3s ease,
                            transform 0.3s ease;

                        a {
                            color: black;
                            padding: 10px 20px;
                            transition: background 0.3s ease;
                            font-size: 12px;

                            &:hover {
                                background: #f8f9fa;
                            }
                        }
                    }
                }
            }
        }
    }
    .secsmall {
        height: 400px;
    }
    .ctaspecialhead {
        position: absolute;
        top: 100px;
    }
    #landsideimg {
        background-image: url("../img/bg/bg1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -80px 0;
    }
    #academyimg {
        background-image: url("../img/bg/bg1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -80px 0;
    }

    #sideright {
        background-image: url("../img/bg/bg2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80px 0;
    }

    .sec {
        min-height: 500px;

        &#about_sec {
            height: 550px !important;
        }
    }
}
.archive {
    padding: 0 !important;
    margin: 0 !important;
}
.about-logo {
    width: 50px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
.circles {
    height: $circleDie;
    width: $circleDie;
    background-color:$secondary_color;
    border-radius: $circleDie;
    overflow: hidden;
}
.team_wrp {
    border: 1px;
    .circleprofile {
        height: 100px;
        width: 100px;
        background-color:$secondary_color;
        border-radius: $circleDie;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* or "contain" */
        }
    }
    .empname {
        color: $primary_color;
    }
    .jobtitle {
        color: $gfont;
    }
}
.recipe_card {
    .card-body {
        border-left: 5px solid$secondary_color;
    }
}
.shutup,
.pathlink {
    text-decoration: none;
    color: inherit;
}

.randpix {
    width: 100%; /* Ensure the container fills its parent container */
    height: auto; /* Adjust height automatically based on width */
    overflow: hidden; /* Hide any overflow if the image is larger than the container */
    img {
        width: 100%; /* Make the image take the full width of the container */
        height: auto; /* Maintain the aspect ratio */
        object-fit: cover; /* This will make the image cover the container while maintaining its aspect ratio */
    }
}
.overlayglow::after {
    content: "";
    position: absolute;
    inset: 0;
    /* Covers the entire div */
    background: rgba(0, 0, 0, 0.5);
    /* Optional: Adds a blur effect */
    z-index: 1;
    /* Ensures it appears above the background */
    border-radius: inherit;
    /* Inherits border-radius if any */
}
