
.single-process-area {
	text-align: center;
	margin-top: 50px;
	overflow: hidden;
    h5 {
        font-size: 14px;
        color: #fff;
        margin: 25px 0 10px;
        letter-spacing: 1px;
    }
    h4 {
        font-size: 20px;
        margin: 20px 0;
    }
}

.process-icon {
	position: relative;
    img {
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
    }
}

.single-process-area:hover img {
	-webkit-animation-name: hvr-buzz-out;
	animation-name: hvr-buzz-out;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

[class*='col-lg-3']:not(:last-child) .process-icon:after {
	position: absolute;
	content: "";
	top: 50%;
	right: -44px;
	width: 80px;
	height: 1px;
	border: 1px dashed cadetblue;
	opacity: .7;
}

#about-page.process-area .section-title h2 {
	color: #fff;
}

#about-page.process-area .single-process-area h4 {
	color: #fff;
}

#about-page.process-area .single-process-area p {
	color: #cecece;
}